@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),
         url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local(''),
         url('../fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
* {
box-sizing: border-box;
}
body {
margin: 0;
padding: 0;
font-family: "Roboto";
}
.container {
width: 1126px;
margin: 0 auto;
}

.header-list {
display: flex;
list-style: none;

}
.header {
display: flex;
align-items: center;
justify-content: space-between;
}

.header-item {
margin-right: 70px;
}
.header-link {
text-decoration: none;
color: #373737;
font-weight: 500;
font-size: 17px;
}

.header-unique-link {
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 9px 33px 13px 35px;
    text-decoration: none;
    color: #373737;
}


/* WE HELP TO BUILD YOUR DREAM PART */
.section-build-dream{
  display: flex;
  margin-top: 140px;
}

.build-dream-part{
  width: 50%;
}

.build-dream-img{
  width: 50%;
}

.build-dream-part-text{
  font-size: 56px;
  font-weight: 900;
  line-height: 66px;
  color: #2F2F2F;
}

.span-build{
  color: #717CFF;
}

.build-dream-part-mini-text{
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  color: #7D7D7D;
}

.build-dream-part-link{
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  line-height: 40px;
  color: #FFFFFF;
  background: #717CFF;
  border-radius: 11px;
  padding: 12px 90px 12px 34px;
}

.build-dream-social-media{
  margin-top: 119px;
  display: flex;
  vertical-align: middle;
}

.twitter-image, .instagram-image{
  margin-left: 29px;
}
/* // WE HELP TO BUILD YOUR DREAM PART */



/* FOOTER PART */
.footer{
  background-color: #717CFF;
}

.footer-part{
  display: flex;
  justify-content: space-between;
  padding: 64px 149px 78px 144px;
  width: 1147px;
}

.footer-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-address{
  color: #EEEEEE;
  margin-top: 26px;
}

.footer-copywrite{
  color: #EEEEEE;
  margin-top: 58px;
}

.footer-list-item{
  line-height: 49px;
  
}

.footer-list-link{
  text-decoration: none;
  color: #EEEEEE;
  font-weight: 500;
  font-size: 18px;
}

.footer-social-media{
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.footer-social-media-img{
  width: 16px;
  margin-top: 165px;
}

/* // FOOTER PART */




/* UNIVERSITIES PART */
.universities-part{
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}


.universities-heading{
  text-align: center;
  padding-top: 55px;
  margin: 0;
}


.universities-logo{
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
  padding-bottom: 183px;
}
/* // UNIVERSITIES PART */


/*  OUR SERVICES */
.our-services-heading{
  padding-top: 122px;
  text-align: center;
  color: #373737;
  font-weight: 700;
  font-size: 37px;
}

.our-services-text{
  color: #7D7D7D;
  text-align: center;
  padding-top: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
}

.services-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-list-item{
  padding: 29px 17px 30px 31px ;
  height: 351px;
  width: 344px;
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  margin-right: 30px;
}

.services-list-item:last-child{
  margin-right: 0;
}

.services-list-item-heading{
  color: #37474F;
  
}

/* .services-list-item-heading::before{
  content: '';
  height: 76px;
  width: 76px;
  background-color: #717CFF;
  display: block;
  border-radius: 50%;
  margin-top: 0;
  margin-bottom: 20px;
} */

.services-list-heading-red::before{
  content: '';
  background: #FF5959;
  background-image: url(../images/facebook-footer.png);
}

.services-list-item-paraghraph{
  margin-top: 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: rgba(55, 71, 79, 0.721569);
}

.services-list-learn-more{
  text-decoration: none;
  color: #717CFF;
  font-weight: 700;
  font-size: 17px;
  padding-top: 25px;
  padding-bottom: 34px;
}

.services-list-accomodation{
  margin-top: 56px;
  margin-bottom: 126px;
}

.services-list-departure{
  margin-top: 56px;
  margin-bottom: 126px;
}
/* // OUR SERVICES */


/* NEWS */
.news{
  background: #FAFAFA;
}

.news-section{
  padding: 102px 0 124px 0;
}

.news-heading{
  font-weight: 700;
font-size: 37px;
line-height: 54px;
text-align: center;
letter-spacing: -0.4625px;
color: #373737;
}

.news-paragraph{
  font-weight: 500;
font-size: 22px;
line-height: 38px;
text-align: center;
color: #7D7D7D;
}

.news-list{
  margin-top: 119px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.news-list-item{
  width: 344px;
  background: #FFFFFF;
box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
border-radius: 10px;
}

.news-list-time::before{
  /* background-image: url(../images/Rectangle.png); */
  content: '';
  height: 244px;
  width: 344px;
  background-image: url(../images/Rectangle.png);
  background-size: cover;
  display: block;
}
/* // NEWS */